<div class= "container" style= "margin-bottom: 50px;">
    <div class= "row justify-content-center">
       <h2><strong><%= @post.title %></strong></h2>
    </div>
</div>

<div class= "container" style= "margin-bottom: 50px;">
    <div class= "row justify-content-center">
        <%= attachment_image_tag @post, :post_image, :fill, 200, 200, format: "jpg", fallback: "no-post_image.jpg" %>
    </div>
</div>

<div class= "container" style= "margin-bottom: 50px;">
    <div class= "row">
        <div class= "col-lg-2"></div>
        <div class= "col-lg-8 col-lg-offset-2">
            <%= link_to user_path(@post.user) do %>
                <%= attachment_image_tag @post.user, :profile_image, :fill, 45, 45, format: "jpg", fallback: "no-post_image.jpg", size: "45x45", class: "rounded-circle" %>
            <% end %>
            <%= @post.user.name %>
        </div>
    </div>

    <div class= "row" style="margin-top: 50px;">
        <div class= "col-lg-2"></div>
        <div class= "col-lg-8 col-lg-offset-2">
            <%= @post.body %>
        </div>
    </div>
</div>

<div class= "container" style= "margin-top: 50px;">
    <div class= "row justify-content-center">
        <% if @post.user == current_user %>
            <%= link_to "編集する", edit_post_path(@post), class: "btn btn-dark" %>
            <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-dark" %>
        <% end %>
    </div>
</div>